.single-product-container {
  height: 100px;
  padding: 15px;
  display: flex;
  /* justify-content: space-between; */
}

.separator {
  height: 1px;
  background: #cecece;
}

.quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-detail {
  text-align: left;
  padding-left: 10px;
  width: 100%;
}

.product-image {
  width: 20%;
  height: auto;
}

.product-detail-title {
  margin-bottom: 0;
  max-height: 100px;
}

.quantity-button {
  background: #165b33;
  color: whitesmoke;
  border: none;
  border-radius: 15px;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}

.discard-div {
  color: #ea4630;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.product-price {
  width: 40%;
}
